html * { 
    margin:0; 
    padding:0; 
    border:none; 
    text-decoration:none; 
    font-weight: normal; 
} 

body {
	background:#000;
	background-image: url('low_contrast_linen.png');
	font-family: Arial;
}

#loading {
    width: 100%;
    height: 100%;
    margin-top:10px;
    color: #fff;
    font-size: 64px;
    text-align:center;
}
#loading img {
    display:block;
    margin:0 auto;
}

#machine {
	width:1280px;
	height: 800px;
	background-image: url('brushed.jpg');
	border: 1px solid #000;
	margin: 20px auto;
  -webkit-box-shadow: 0px 10px 35px 5px #000;
  box-shadow:         0px 10px 35px 5px #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#panel {
    float:left;
    width:730px;
    margin: 0px 0px 0px 25px;
    padding-bottom: 10px;
    height: 710px;
    background-image: url('panelbg.png');
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.button span {
	display: block;
	color: #555;

    text-shadow: 0px 2px 2px rgba(255,255,255,0.25);
	font-size: 36px;
	text-align:center;
	margin-top: 50px;
	height: 145px;
}

.rounded {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.clear {
    clear:both;
}

.button {
  float:left;
  width: 145px;
  height: 145px;
  background:#666;
  margin: 25px 0 0 25px;
	border: 3px solid #f00;
	border-bottom: 3px solid #444;
	border-left: 3px solid #555;
	border-right: 3px solid #555;
	border-top: 3px solid #6a6a6a;
	background-image: url('buttonvignette.png');
  position:relative;
  display:none;
  -webkit-transition: all 0.03s ease-out; 
    transition: all 0.03s ease-out;
}

.button img {
  width: 145px;
  height: 145px;
  opacity:0.9;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  position: absolute;
  top:0px;
  left:0px;
}

.button .overlay {
  position: absolute;
  top:0px;
  left:0px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  opacity: 0.3;
}

.selected {
	/*background-color: #aaf;*/
	border-color: #88c;
	box-shadow: 0 0 25px rgba(120, 120, 255, 1);
  -webkit-box-shadow: 0 0 25px rgba(120, 120, 255, 1); 

}

.activated {
	background-color: #fac;
	border-color: #c8a;
	box-shadow: 0 0 25px rgba(255, 120, 160, 1);
  -webkit-box-shadow: 0 0 25px rgba(255, 120, 160, 1); 
}

.activated img {
  opacity: 0.4;
}

#controls {
	float:right;
	width: 500px;
	height: 800px;
	margin-right: 0px;
	margin-top:0px;
	background-image: url('btrans.png');
}

#logo {
	float:right;
	width: 140px;
	height: 95px;
  margin-top: 13px;
  margin-right: 15px;
	border: 1 px solid #f00;
}

#logo img {
  width: 140px;
  height: 85px;
}


div#lcd {
  background: #10101a;
  border: 2px solid #000;
    font-family: Helvetica, Arial;
  font-size: 18px;
	color: #ccf;
    text-shadow: 0 0 5px #88d;

  width: 435px;
  height: 80px;
  margin-left:20px;
  margin-top: 20px;
  padding: 10px;
    
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 10px 40px rgba(0, 0, 0, 0.8);
  box-shadow:         inset 0 10px 40px rgba(0, 0, 0, 0.8);
}
div#lcd .overlay {
  width: 435px;
  height: 80px;
  padding: 10px;
  position: relative;
  margin-left:-10px;
  margin-top:-10px;
  background-image: url('glossyinfo.png');
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

div#lcd img.thumb {
  float:left;
    width: 64px;
    height: 64px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #ccf;
  -webkit-border-radius: 4px;
  border-radius: 4px;
	box-shadow: 0 0 10px rgba(120, 120, 255, 1.0);
  -webkit-box-shadow: 0 0 10px rgba(120, 120, 255, 1.0); 
    
}

div#lcd #row1 {
    float:left;
    width: 350px;
    margin-left: 10px;
    margin-top:9px;
    font-size: 22px;
}

div#lcd #row2 {
    float:left;
    width: 350px;
    margin-left: 10px;
    margin-top:5px;
    font-size: 22px;
}
div#sample-controls {
    float:left;
    width: 45px;
    padding-top: 10px;
}

div#sample-controls .togglebutton {
    float:left;
    width: 32px;
    height: 32px;
  background: #888;
  margin-top: 11px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: -3px;
  border-top: 1px solid #999;
  border-bottom: 3px solid #444;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  background: -webkit-linear-gradient(top, #8a8a8a 0%, #6c6c6c 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #8a8a8a 0%, #6c6c6c 100%); /* W3C */
      
    
}

div#oneshotbutton.active {
  border-top: 1px solid rgb(247,150,33);
  border-bottom: 3px solid rgb(227,140,25);
  border-left: 1px solid rgb(247,150,33);
  border-right: 1px solid rgb(247,150,33);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(255,228,109)), color-stop(100%,rgb(247,150,33)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);
  background: radial-gradient(ellipse at center,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);
}


div#loopbutton.active {
  border-top: 1px solid rgb(150,247,33);
  border-bottom: 3px solid rgb(140,227,25);
  border-left: 1px solid rgb(150,247,33);
  border-right: 1px solid rgb(150,247,33);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(228,255,109)), color-stop(100%,rgb(150,247,33)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(228,255,109) 0%,rgb(150,247,33) 100%);
  background: radial-gradient(ellipse at center,  rgb(228,255,109) 0%,rgb(150,247,33) 100%);
}


div#mutebutton.active {
  border-top: 1px solid rgb(247,33,33);
  border-bottom: 3px solid rgb(227,25,25);
  border-left: 1px solid rgb(247,33,33);
  border-right: 1px solid rgb(247,33,33);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(255,109,109)), color-stop(100%,rgb(247,150,33)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,109,109) 0%,rgb(247,33,33) 100%);
  background: radial-gradient(ellipse at center,  rgb(255,109,109) 0%,rgb(247,33,33) 100%);
}


div#info {  background: #786;
  border-bottom: 2px solid #796;
  border-top: 2px solid #453;
  border-left: 2px solid #564;
  border-right: 2px solid #564;
  float:left;
  font-family: 'digital-7_monomono';
  font-size: 28px;
  line-height:34px;
  color: #231;
  width: 390px;
  height: 100px;
  margin-left:20px;
  margin-top: 20px;
  padding: 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow:         inset 0 0 20px rgba(0, 0, 0, 0.8);
}

div#info #editbutton img {
    float:right;
    margin-right: 8px;
    width: 60px;
    clear:both;
    margin-top: 7px;
    opacity: 0.5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div#info #loadbutton img {
    float:right;
    margin-top: 3px;
    margin-right: 8px;
    width:60px;
    opacity:0.5;
  -webkit-border-radius: 2px;
  border-radius: 2px; 
}

div#browser {
  background: #786;
  border-bottom: 2px solid #796;
  border-top: 2px solid #453;
  border-left: 2px solid #564;
  border-right: 2px solid #564;
  font-family: 'digital-7_monomono';
  font-size: 28px;
  line-height:34px;
	color: #231;
  width: 435px;
  margin-left:20px;
  margin-top: 0px;
  padding: 10px;
  height: 360px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
   -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
   box-shadow:         inset 0 0 20px rgba(0, 0, 0, 0.8);
   overflow: auto;
}

div#browser h2 {
    font-size: 28px;
}

#browser ::-webkit-scrollbar{width:9px;height:9px;}
#browser ::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
#browser ::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
#browser ::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
#browser ::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

div#loopcontrol {

}

.pushbutton {
float:left;
  width: 42px;
  height: 42px;
  background: #888;
  margin: 10px;
  margin-right 8px;
  border-top: 1px solid #999;
  border-bottom: 5px solid #444;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  background: -webkit-linear-gradient(top, #8a8a8a 0%, #6c6c6c 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #8a8a8a 0%, #6c6c6c 100%); /* W3C */
  
/*  -webkit-transition: all 0.05s ease-in-out; 
  transition: all 0.05s ease-in-out;*/

}

.pushbutton img {
  margin-top: 5px;
  margin-left: 5px;
  width: 32px;
  height:32px;
}

.pushed {
  margin-top: 12px;
  border-bottom: 3px solid #444;
  background: rgb(255,228,109);

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(255,228,109)), color-stop(100%,rgb(247,150,33)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);
  background: radial-gradient(ellipse at center,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);
}

div#beatbrowser span {
    display:block;
    width: 20px;
    height:20px;
    margin-top: 3px;
    margin-left: 3px;
    border: 1px solid #342;
    background: #675;
    float:left;    
}

div#beatbrowser span.downbeat {
    margin-left: 10px;
}

div#beatbrowser span:hover {
    background: #564;
}

div#playbackcontrol {
    margin: 25px;
    margin-top: 20px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 5px;
    padding-bottom: 0;
    width: 260px;
    height: 75px;
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #101010 100%); 
    background: linear-gradient(to bottom, #1a1a1a 0%, #101010 100%); 
}

div#oneshotbutton *{
    margin:0;
    margin-top:2px;
    margin-left: 2px;
    width:28px;
}
div#loopbutton img{
    margin:0;
    margin-top:2px;
    margin-left:2px;
    width:28px;
}

div#beatmeter {
    width: 730px;
    height: 20px;
    float:left;
    margin: 20px 0px 5px 27px;
}

div#beatmeter .bar {
    
}


.beat {
    width: 34px;
    height: 7px;
    float: left;
    margin-right: 12px;
    margin-top: 0;

    -webkit-transition: all 0.02s ease-out; 
      transition: all 0.02s ease-out;
    
  -webkit-border-radius: 2px;
  border-radius: 2px;
  
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(128,114,51)), color-stop(100%,rgb(120,85,33)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(128,114,51) 0%,rgb(120,85,33) 100%);
    background: radial-gradient(ellipse at center,  rgb(128,114,51) 0%,rgb(120,85,33) 100%);
    
}

.downbeat {   
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(160,80,60)), color-stop(100%,rgb(120,40,33)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(160,80,60) 0%,rgb(120,40,33) 100%);
    background: radial-gradient(ellipse at center,  rgb(160,80,60) 0%,rgb(120,40,33) 100%);

}

.beatactive {
    background-color:#f00;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(255,228,109)), color-stop(100%,rgb(247,150,33)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);
    background: radial-gradient(ellipse at center,  rgb(255,228,109) 0%,rgb(247,150,33) 100%);

	box-shadow: 0 0 20px rgba(255, 190, 130, 1.0);
  -webkit-box-shadow: 0 0 20px rgba(255,190,130,1.0); 
}

 .downbeatactive {
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(255,149,109)), color-stop(100%,rgb(247,63,33)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,149,109) 0%,rgb(247,63,33) 100%);
    background: radial-gradient(ellipse at center,  rgb(255,149,109) 0%,rgb(247,63,33) 100%);

	box-shadow: 0 0 20px rgba(255, 160, 130, 1.0);
  -webkit-box-shadow: 0 0 20px rgba(255,160,130,1.0); 
}

img.silkscreen {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity:0.9;
}

#beatbrowser {
    margin-left: -5px;
}
